<header>
  <h1>Restaurant Map</h1>
</header>
<section id="content">
  <div class="container">
      <div class="span6 tablecontainer">
        <div ng-repeat="table in tables">
          <div class="table {{table.open}}" style="width: {{table.size[0]}}px; height: {{table.size[1]}}px; top: {{table.location[0] - 21}}px; left:{{table.location[1]}}px;" ng-click="toggle(table)">
          {{table.capacity}}
          </div>
        </div>
      </div>
      <div class="span6 sidebar">
        <ng-include src="'views/reservation.html'"></ng-include>
      </div>
  </div>
</section>