
<div class="row">
  <div class="span10 offset1">
    <button class="btn btn-large {{active == 'open' && 'active'}}" ng-click="active = 'open';">Waiting for seat</button>
    <button class="btn btn-large {{active == 'incoming' && 'active'}}" ng-click="active = 'incoming';">Seated</button>
    <h2>Capacity: {{cap.capacity()}}</h2>
  </div>
</div>
<div id="open" ng-show="active == 'open'">
  <div class="row">
    <div class="span10 offset1 sort">
      <div class="span5" ng-click="predicate = 'name'; reverse=!reverse; namereverse=!reverse">Name<i ng-show="predicate == 'name'" class="{{!reverse && up || down}}"></i></div>
      <div class="span2" ng-click="predicate = 'diners'; reverse=!reverse; dinersreverse=!reverse">Diners<i ng-show="predicate == 'diners'" class="{{!reverse && up || down}}"></i></div>
      <div class="span2" ng-click="predicate = 'time'; reverse=!reverse; timereverse=!reverse">Time<i ng-show="predicate == 'time'" class="{{!reverse && up || down}}"></i></div>
    </div>
    
  </div>
  <div class="row" ng-repeat="reservation in reservations | orderBy:predicate:reverse" ng-hide="reservation.seated" ng-animate="'fade'">
    <div class="span10 offset1 reservation" ng-click="seat(reservation)" >
      <div class="span5 name">{{reservation.name}}</div>
      <div class="span2 number">{{reservation.diners}}</div>
      <div class="span2 time">{{reservation.time}}</div>
      <div class="span3">Click to seat</div>
    </div>
  </div>
</div>
<div id="incoming" ng-show="active == 'incoming'">
  <div class="row">
    <div class="span10 offset1 sort">
      <div class="span5" ng-click="predicate = 'name'; reverse=!reverse; namereverse=!reverse">Name<i ng-show="predicate == 'name'" class="{{!reverse && up || down}}"></i></div>
      <div class="span2" ng-click="predicate = 'diners'; reverse=!reverse; dinersreverse=!reverse">Diners<i ng-show="predicate == 'diners'" class="{{!reverse && up || down}}"></i></div>
      <div class="span2" ng-click="predicate = 'time'; reverse=!reverse; timereverse=!reverse">Time<i ng-show="predicate == 'time'" class="{{!reverse && up || down}}"></i></div>
    </div>
    
  </div>
  <div class="row" ng-repeat="reservation in incoming | orderBy:predicate:reverse" ng-animate="'fade'">
    <div class="span10 offset1 reservation" ng-model="incoming" data-drag="true" jqyoui-draggable="{animate:true}" data-jqyoui-options="{revert: 'invalid'}">
      <div class="span5 name">{{reservation.name}}</div>
      <div class="span2 number">{{reservation.diners}}</div>
      <div class="span2 time">{{reservation.time}}</div>
      <div class="span3"><i class="icon-check icon-large"></i></div>
    </div>
  </div>
</div>