html, body {
	font-family: 'MozTTLight', Verdana, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;
}

header{
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
	.gradient(black, @gradient-blue-light, @gradient-blue-dark);
}

h1 {
	margin: 0;
	padding: 8px;
}

.table {
	position: absolute;
	background: @red;
	font-size: 24px;
	font-weight: bold;
	padding: 30px 5px;
	text-align: center;
	.rounded(10px);
	&.true {
		background: @green;
		&:hover {
			cursor: pointer;
			background: darken(@green, 10%);
		}
	}
	&:hover {
		cursor: pointer;
		background: darken(@red, 10%);
	}
}

.tbl {
	background: @black;
	position: absolute;
}

.reservation {
	background: @turqoise;
	font-size: 24px;
	font-weight: bold;
	padding: 30px 5px;
	text-align: center;
	.rounded(10px);
	&.open {
		background: @green;
		&:hover {
			cursor: pointer;
			background: darken(@green, 10%);
		}
	}
	&:hover {
		cursor: pointer;
		background: darken(@turqoise, 10%);
	}
}

.sort {
	font-size: 24px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}